<div class="top-btn">
    <a href="/dashboard">
        <button class="back-btn">
            &larr; Back
        </button>
    </a>
    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="delete-btn">
    </form>

</div>


<div class="admin-title">

    <h1>Edit Post :&#41;</h1>

    
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">
    <label class="req-label" for="topic"><b>Topic</b></label>
    <div class="radio-btn">
        <input type="radio" name="topic" value="Experience" <%= data.topic === 'Experience' ? 'checked' : '' %> />
        <label for="Experience">Experience</label>

        <input type="radio" name="topic" value="Project" <%= data.topic === 'Project' ? 'checked' : '' %> />
        <label for="Project">Project</label>
    </div>

    <label class="req-label" for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

    <label class="req-label" for="content"><b>Content</b></label>
    <textarea class="text-area" name="content" cols="20" rows="10"><%= data.content %></textarea>

    <label for="keyword"><b>Keyword(s)</b></label>
    <input type="text" placeholder="Post Keyword(s)" name="keyword" value="<%= data.keyword %>">

    <label for="linkTitle"><b>Link Title</b></label>
    <input type="text" placeholder="Post Link Title" name="linkTitle" value="<%= data.linkTitle %>">

    <label for="link"><b>Link</b></label>
    <input type="text" placeholder="Post Link" name="link" value="<%= data.link %>">

    <label class="req-label" for="startDate"><b>Start Date (MM-YYYY):</b></label>
    <input type="text" name="startDate" placeholder="MM-YYYY" pattern="^(0[1-9]|1[0-2])-\d{4}$" required value="<%= data.startDate %>">
    
    <label for="endDate"><b>End Date (MM-YYYY):</b></label>
    <input type="text" name="endDate" placeholder="MM-YYYY" pattern="^(0[1-9]|1[0-2])-\d{4}$" required value="<%= data.endDate %>">
     
    <input type="submit" value="Update" class="submit-btn">
</form>

